* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f0f0f;
  font-family: Arial, sans-serif;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: center; /* gitna horizontally */
  align-items: center;     /* gitna vertically */
  height: 80px;
  background-color: #111;
}

/* LOGO */
.nav-logo {
  height: 50px; /* pwede mong palitan 40px / 60px */
  width: auto;
}

/* CONTENT */
.content {
  padding: 40px;
}
